repos:
  - repo: local
    hooks:
      - id: ruff-format
        name: ruff format
        entry: uv run ruff format --force-exclude
        language: system
        types: [python]
      - id: ruff-lint
        name: ruff lint
        entry: uv run ruff check --fix --exit-non-zero-on-fix --force-exclude
        language: system
        types: [python]
      - id: ty-check
        name: ty check
        entry: uv run ty check
        language: system
        pass_filenames: false
